<!DOCTYPE html>
<html lang="en">
<head th:include="navbar.html :: head">
    <title id="title">Edit product</title>
</head>
<body th:include="navbar.html :: body">
<div id="body">

    <!--/*@thymesVar id="product" type="com.struninproject.onlinestore.model.Product"*/-->
    <form th:method="PATCH" th:action="@{/product/update}"
          th:object="${product}">
        <!--/*@thymesVar id="id" type="java.lang.String"*/-->
        <label hidden for="id"></label>
        <input hidden type="text" th:field="*{id}" id="id">
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" th:field="*{name}" id="name"
                   placeholder="name">
            <!--    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>-->
        </div>
        <div class="form-group">
            <!--/*@thymesVar id="price" type="java.math.BigDecimal"*/-->
            <label for="price">Price</label>
            <input class="form-control" type="text" th:field="*{price}"
                   id="price"
                   placeholder="price">
            <!--    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>-->
        </div>
        <div class="form-group">
            <!--/*@thymesVar id="description" type="java.lang.String"*/-->
            <label for="description">Description</label>
            <input class="form-control" type="text" th:field="*{description}"
                   id="description"
                   placeholder="description">
            <!--    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>-->
        </div>
        <div class="form-group">
            <!--/*@thymesVar id="manufacturers" type="java.lang.Iterable"*/-->
            <!--/*@thymesVar id="manufacturer" type="com.struninproject.onlinestore.model.Manufacturer"*/-->
            <label for="manufacturer">Manufacturer</label>
            <select class="form-control" th:field="*{manufacturer}"
                    id="manufacturer">
                <option th:each="manufacturer : ${manufacturers}"
                        th:value="${manufacturer.getId()}"
                        th:text="${manufacturer.getName()}"></option>
            </select>
            <!--    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>-->
        </div>
        <div id="out" class="form-group">
            <!--/*@thymesVar id="categories" type="java.lang.Iterable"*/-->
            <!--/*@thymesVar id="category" type="com.struninproject.onlinestore.model.Category"*/-->
            <label for="category">Category: <b
                    th:text="*{category.getName()}"></b></label>
            <input type="hidden" class="form-control" th:field="*{category}"
                   id="category" placeholder="category">
            <!--    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>-->
        </div>
        <!--/*@thymesVar id="specifications" type="java.util.Map"*/-->
        <!--/*@thymesVar id="spec" type="java.util.Map.Entry"*/-->
        <div th:each="spec : *{specifications}" class="form-group">
            <input type="hidden" name="value"
                   th:value="${spec.key}"/>
            <label for="key" th:text="${spec.key}"></label>
            <input id="key" class="form-control" type="text"
                   name="value"
                   th:field="*{specifications[__${spec.key}__]}"/>
        </div>
        <div class="form-group">
            <label for="input_img">Image</label>
            <div>
                <img th:src="${(product.getImage() != null && !#strings.isEmpty(product.getImage())) ? product.getImage() : 'https://i.ibb.co/nQKknXZ/image-not-found.jpg'}"
                     src="" alt="" id="output"
                     style="width: 300px; height: 100%; object-fit: contain;">
            </div>
            <input type="file" id="input_img"
                   onchange="fileChange()" accept="image/*">
            <!--/*@thymesVar id="image" type="java.lang.String"*/-->
            <input type="hidden" id="image" th:field="*{image}">
            <!--        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>-->
        </div>
        <br>
        <input type="submit" class="btn btn-sm btn-secondary" value="Edit Product">
    </form>

    <script th:src="@{/js/uploadImage.js}"></script>

</div>
</body>
</html>