<!DOCTYPE html>
<html lang="en">
<head th:include="navbar.html :: head">
    <title id="title">Add product</title>
</head>
<body th:include="navbar.html :: body">
<div id="body">
    <div class="container align-content-center mt-5">
        <div class="row mb-4 d-flex justify-content-center">
            <div class="col-6">
                <!--    /*@thymesVar id="data" type="com.struninproject.onlinestore.model.Product"*/-->
                <form action="#" th:action="@{/product/new}"
                      th:object="${data}"
                      method="POST">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input class="form-control" type="text"
                               th:field="*{name}" id="name">
                    </div>
                    <div class="form-group">
                        <!--/*@thymesVar id="price" type="java.math.BigDecimal"*/-->
                        <label for="price">Price</label>
                        <input class="form-control" type="number"
                               th:field="*{price}"
                               id="price">
                    </div>
                    <div class="form-group">
                        <!--/*@thymesVar id="description" type="java.lang.String"*/-->
                        <label for="description">Description</label>
                        <textarea  class="form-control" type="text"
                               th:field="*{description}"
                                   id="description"></textarea>
                    </div>
                    <div class="form-group">
                        <!--/*@thymesVar id="manufacturers" type="java.lang.Iterable"*/-->
                        <!--/*@thymesVar id="manufacturer" type="com.struninproject.onlinestore.model.Manufacturer"*/-->
                        <label for="manufacturer">Manufacturer</label>
                        <select class="form-control" th:field="*{manufacturer}"
                                id="manufacturer">
                            <option value=""></option>
                            <option th:each="manufacturer : ${manufacturers}"
                                    th:value="${manufacturer.getId()}"
                                    th:text="${manufacturer.getName()}"></option>
                        </select>
                    </div>
                    <div id="out" class="form-group">
                        <!--/*@thymesVar id="categories" type="java.lang.Iterable"*/-->
                        <!--/*@thymesVar id="category" type="com.struninproject.onlinestore.model.Category"*/-->
                        <label for="category">Category</label>
                        <select onchange="myChangeFunction()"
                                class="form-control mb-4"
                                th:field="*{category}" id="category">
                            <option value=""></option>
                            <option th:each="category : ${categories}"
                                    th:value="${category.getId()}"
                                    th:text="${category.getName()}"></option>
                        </select>
                    </div>
                    <div class="form-group mt-2 d-grid justify-content-center">
                        <label for="input_img">Image</label>
                        <div>
                            <img class="image-1"
                                 th:src="${(data.getImage()
                                            != null && !#strings.isEmpty(data.getImage()))
                                            ? data.getImage()
                                            : '/images/image-not-found.png'}"
                                 src="" alt="" id="output">
                        </div>
                        <input class="form-control mt-2" type="file"
                               id="input_img"
                               onchange="fileChange()" accept="image/*">
                        <!--/*@thymesVar id="image" type="java.lang.String"*/-->
                        <input type="hidden" id="image" th:field="*{image}">
                    </div>
                    <div class="d-grid justify-content-end mt-4">
                        <input class="btn btn-sm btn-secondary" type="submit"
                               value="Add product">
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script th:inline="javascript">
        // myChangeFunction();

        function myChangeFunction() {
            let value = document.getElementById('category').value;
            const categories = /*[[${categories}]]*/ {};
            const elementById = document.getElementById('in');
            if (elementById) {
                elementById.remove();
            }
            const form = document.getElementById("out");
            const divIN = document.createElement('div');
            let elInput;
            let elLabel;
            divIN.setAttribute('id', 'in');
            for (let index in categories) {
                const category = categories[index];
                if (category.id === value) {
                    for (let i in category.features) {
                        elLabel = document.createElement('label');
                        elLabel.setAttribute('for', category.features[i])
                        elLabel.innerText = category.features[i];
                        elInput = document.createElement('input');
                        elInput.setAttribute('name', 'value')
                        elInput.setAttribute('value', category.features[i]);
                        elInput.setAttribute('type', 'hidden')
                        divIN.appendChild(elInput);
                        elInput = document.createElement('input');
                        elInput.setAttribute('class', 'form-control');
                        elInput.setAttribute('id', category.features[i]);
                        elInput.setAttribute('name', 'specifications' + '[' + category.features[i] + ']');
                        divIN.appendChild(elLabel);
                        divIN.appendChild(elInput);
                    }
                    form.appendChild(divIN);
                }
            }
        }
    </script>

    <script th:src="@{/js/uploadImage.js}"></script>

</div>
</body>
</html>