<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="navbar.html :: head">
    <title id="title">User registration</title>
</head>
<body th:include="navbar.html :: body">
<div id="body">
    <!--/*@thymesVar id="productPage" type="org.springframework.data.domain.Page"*/-->
    <!--/*@thymesVar id="product" type="com.struninproject.onlinestore.model.Product"*/-->
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-3"
                 th:each="product, iStat : ${productPage}">
                <div class="product-card">
                    <div class="product-thumb">
                        <img th:src="${(product.getImage() != null && !#strings.isEmpty(product.getImage())) ? product.getImage() : 'https://i.ibb.co/nQKknXZ/image-not-found.jpg'}"
                             src="" alt="" id="output"
                             style="width: 100%; height: 15vw; object-fit: contain;">
                    </div>
                    <div class="product-details">
                        <h4><a href="#"><span
                                th:text="${product.getName()}"></span></a></h4>
                        <span th:text="${product.getDescription()}"></span>
                        <div class="product-bottom-details d-flex justify-content-between">
                            <div class="product-price">
                                <small><span
                                        th:text="${product.getPrice()}?${'$'+product.getPrice()*11/10}"></span></small><span
                                    th:text="${product.getPrice()}?${'$'+product.getPrice()}"></span>
                            </div>
                            <div class="product-links">
                                <button class="zoom-color border-0 me-3"
                                        sec:authorize="isAuthenticated()"><i
                                        onclick="addCart(this.id)"
                                        th:id="${product.getId()}"
                                        class="fas fa-shopping-cart"></i>
                                </button>
                                <button class="zoom-color border-0 me-3"
                                        sec:authorize="!isAuthenticated()"
                                        data-bs-toggle="modal"
                                        data-bs-target="#exampleModal"><i
                                        class="fas fa-shopping-cart"></i>
                                </button>
                                <button class="zoom-color border-0 me-3"><i
                                        class="far fa-heart"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/*@thymesVar id="pageNumbers" type="java.util.List"*/-->
        <nav th:if="${productPage.getTotalPages() > 1 && productPage.getNumber() < productPage.getTotalPages()}"
             aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link"
                       th:href="@{/product/p1(size=${productPage.getSize()}, page=${productPage.getNumber()})}"
                       th:if="${productPage.getNumber()!=0}"
                       aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                    <a class="page-link"
                       th:if="${productPage.getNumber()==0}"
                       aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"
                    th:each="pageNumber : ${#numbers.sequence( 1, productPage.getTotalPages())}">
                    <!--/*@thymesVar id="pageNumber" type="java.lang.Integer"*/-->
                    <a th:href="@{/product/p1(size=${productPage.getSize()}, page=${pageNumber})}"
                       th:text="${pageNumber}"
                       th:class="${pageNumber==productPage.getNumber()+1} ? 'active page-link':'page-link'"></a>

                </li>
                <li class="page-item">
                    <a class="page-link"
                       th:href="@{/product/p1(size=${productPage.getSize()}, page=${productPage.getNumber()+2})}"
                       th:if="${productPage.getNumber()<productPage.getTotalPages()-1}"
                       aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                    <a class="page-link"
                       th:if="${productPage.getNumber()==productPage.getTotalPages()-1}"
                       aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

<!--        <form th:action="@{/user/(filter=${filter}, size=${productPage.size}, page=${pageNumber})}" th:object="${user}" method="get">-->

<!--        </form>-->

    </div>
</div>
</body>
</html>