<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="navbar.html :: head">
    <title id="title">Product page</title>
</head>
<body th:include="navbar.html :: body">
<div id="body">
    <!--/*@thymesVar id="product" type="com.struninproject.onlinestore.model.entity.Product"*/-->
    <div class="container align-content-center mt-5">
        <div class="row mb-4 d-flex justify-content-center">
            <div class="col-4">
                <img class="p-img" alt="" src=""
                     th:src="${product.getImage()
                     != null && !#strings.isEmpty(product.getImage()) ? product.getImage()
                     : '/images/image-not-found.png'}"/>
            </div>
            <div class="col-6 d-flex flex-column">
                <h3 th:text="${product.getName()}"></h3>
                <h6 class="mt-2"><small>Category:</small><b><span
                        class="gray ms-1"
                        th:text="${product.getCategory()}
                                    ? ${product.getCategory().getName()}">
                                </span></b>
                </h6>
                <h6 class="mt-2"><small>Manufacturer:</small><b><span
                        class="gray ms-1"
                        th:text="${product.getManufacturer()}
                                    ? ${product.getManufacturer().getName()}"></span></b>
                    <div class="mt-3 w-25">
                        <img class="image-manufacturer" alt="" src=""
                             th:src="${product.getManufacturer()
                                        != null && !#strings.isEmpty(product.getManufacturer().getImage()) ? product.getManufacturer().getImage()
                                        : '/images/image-not-found.png'}"/>
                    </div>
                </h6>
                <h6 class="mt-2 mb-4"><small>Country:</small><b><span
                        class="gray ms-1"
                        th:text="${product.getManufacturer()}
                                    ? ${product.getManufacturer().getCountry()}"></span></b>
                </h6>

                <h6 class="mt-auto"><small>Description: </small>
                </h6>
                <b>
                    <div class="mt2 mb-4">
                    <span class="mt2 gray"
                          th:text="${product.getDescription()}">
                                </span>
                    </div>
                </b>
                <h6 class="mt-auto"><small>Price:</small></h6>
                <div class="mt-2 mb-4 d-flex justify-content-between">
                    <div class="col product-price">
                        <h3>
                            <small>
                                <span th:text="${product.getPrice()}?${'$'+product.getPrice()*11/10}">
                                </span>
                            </small>
                            <span th:text="${product.getPrice()}?${'$'+product.getPrice()}"></span>
                        </h3>
                    </div>
                    <div>
                        <button class="btn btn-secondary zoom-color-1 me-1"
                                type="button"
                                sec:authorize="isAuthenticated()"
                                onclick="addCart(this.id)"
                                th:id="${product.getId()}">
                            <span class="fa fa-cart-plus"></span>Add to cart
                        </button>
                        <button class="btn btn-secondary zoom-color-1 me-1"
                                type="button"
                                sec:authorize="!isAuthenticated()"
                                data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                            <span class="fa fa-cart-plus"></span>Add to cart
                        </button>
                        <button class="btn btn-secondary zoom-color-1"
                                type="button"><span
                                class="fa fa-heart"></span></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <!--/*@thymesVar id="feature" type="java.lang.String"*/-->
                <div th:if="${product.getCategory() != null
                                && product.getSpecifications() != null}"
                     class="border-my">
                    <h6 class="mt-2"><small>Specification: </small>
                    </h6>
                    <small>
                        <table class="table-1 mt-3">
                            <tbody>
                            <tr class="mt-3"
                                th:each="feature : ${product.category.features}">
                                <td class="table-2" th:text="${feature}"></td>
                                <td class="table-3 gray"
                                    th:text="${product.getSpecifications().get(feature)}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
