<!DOCTYPE html>
<html lang="en">
<head th:include="navbar.html :: head">
    <title id="title">Products</title>
</head>
<body th:include="navbar.html :: body">
<div id="body">

    <section class="main-content">
        <div class="container">
            <div class="row">
                <!--/*@thymesVar id="products" type="java.lang.Iterable"*/-->
                <!--/*@thymesVar id="product" type="com.struninproject.onlinestore.model.Product"*/-->
                <div class="col-lg-4 col-sm-6 mb-3" th:each="product,iter : ${products}">
                    <div class="product-card">
                        <div class="product-thumb">
                            <img th:src="${(product.getImage() != null && !#strings.isEmpty(product.getImage())) ? product.getImage() : 'https://i.ibb.co/nQKknXZ/image-not-found.jpg'}"
                                 src="" alt="" id="output"
                                 style="width: 100%; height: 15vw; object-fit: contain;">
                        </div>
                        <div class="product-details">
                            <h4><a href="#"><span th:text="${product.getName()}"></span></a></h4>
                            <span th:text="${product.getDescription()}"></span>
                            <div class="product-bottom-details d-flex justify-content-between">
                                <div class="product-price">
                                    <small>$<span th:text="${product.getPrice()}"></span></small> $99
                                </div>
                                <div class="product-links">
                                    <a href="#"><i onclick="addCart(this.id)" th:id="${product.getId()}" class="fas fa-shopping-cart"></i></a>
                                    <a href="#"><i class="far fa-heart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script>
        function addCart(id) {
            const data={productId: id}
            $.ajax({
                url: "/order/add",
                type: "POST",
                data: data,
                success: function(data){
                    console.log(data);
                },
                dataType: 'json'
            });
        }
    </script>

</div>
</body>
</html>