<!DOCTYPE html>
<html lang="en">
<head th:include="navbar.html :: head">
    <title id="title">All orders</title>
</head>
<body th:include="navbar.html :: body">
<div id="body">

    <div class="container">
        <div class="row">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-2">
                <button class="btn btn-secondary btn-sm"
                        onclick="document.location='order/new'">Add order
                </button>
            </div>
            <div class="col-md-12">
                <table class="table table-striped table-dark">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>User</th>
                        <th>Created</th>
                        <th>Total price</th>
                        <th>Products</th>
                        <th>Status</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--/*@thymesVar id="orders" type="java.lang.Iterable"*/-->
                    <!--/*@thymesVar id="order" type="com.struninproject.onlinestore.model.Order"*/-->
                    <tr th:each="order,iter : ${orders}">
                        <td th:text="${order.getId()}"></td>
                        <td th:text="${order.getUser().getEmail()}"></td>
                        <td th:text="${order.getCreated()}?${''+order.getCreated()}"></td>
                        <td th:text="${order.getTotalPrice()}?${'$'+order.getTotalPrice()}"></td>
                        <!--/*@thymesVar id="productOrder" type="com.struninproject.onlinestore.model.ProductOrder"*/-->
                        <td>
                            <table>
                                <tbody>
                                <tr th:each="productOrder: ${order.getProductOrders()}">
                                    <td class="w-25"
                                        th:text="${productOrder.getQuantity()}"></td>
                                    <td th:text="${productOrder.getProduct().getName()}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <td th:text="${order.getStatus().getValue()}"></td>
                        <td>
                            <form th:method="GET"
                                  th:action="@{/order/{id}/edit(id=${order.getId()})}">
                                <input class="btn btn-secondary btn-sm"
                                       type="submit" value="Edit"/>
                            </form>
                        </td>
                        <td>
                            <form th:method="DELETE"
                                  th:action="@{/order/{id}(id=${order.getId()})}">
                                <input class="btn btn-secondary btn-sm"
                                       type="submit" value="Delete"/>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>
</body>
</html>