<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet'
          href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
    <link rel='stylesheet'
          href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="/css/style.css">

    <!-- Demo CSS -->
    <link rel="stylesheet" href="/css/demo.css">

    <title>Manufacturers</title>
</head>
<body>

<header th:insert="navbar.html :: header"></header>
<div class="container">
    <div class="text-right">
        <button class="btn btn-primary"
                onclick="document.location='manufacturer/new'">Add manufacturer
        </button>
    </div>
    <table class="table table-striped table-dark  w-auto">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Country</th>
            <th>Image</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="manufacturers" type="java.lang.Iterable"*/-->
        <!--/*@thymesVar id="manufacturer" type="com.struninproject.onlinestore.model.Manufacturer"*/-->
        <tr th:each="manufacturer,iter : ${manufacturers}">
            <td th:text="${manufacturer.getId()}"></td>
            <td th:text="${manufacturer.getName()}"></td>
            <td th:text="${manufacturer.getCountry()}"></td>
            <td><img th:src="${manufacturer.getImage()}" height="100"
                     width="auto">
            </td>
            <td>
                <form th:method="GET"
                      th:action="@{/manufacturer/{id}/edit(id=${manufacturer.getId()})}">
                    <input class="btn btn-primary" type="submit" value="Edit"/>
                </form>
            </td>
            <td>
                <form th:method="DELETE"
                      th:action="@{/manufacturer/{id}(id=${manufacturer.getId()})}">
                    <input class="btn btn-primary" type="submit" value="Delete"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- jQuery -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<!-- Bootstrap JS -->
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js'></script>
</body>
</html>