<!DOCTYPE html>
<html lang="en">
<head th:include="navbar.html :: head">
    <title id="title">Edit manufacturer</title>
</head>
<body th:include="navbar.html :: body">
<div id="body">

    <!--/*@thymesVar id="manufacturer" type="com.struninproject.onlinestore.model.Manufacturer"*/-->
    <form th:method="PATCH"
          th:action="@{/manufacturer/update}"
          th:object="${manufacturer}">
        <!--/*@thymesVar id="id" type="java.lang.String"*/-->
        <label hidden for="id"></label>
        <input hidden type="text" th:field="*{id}" id="id">
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" th:field="*{name}" id="name"
                   placeholder="name">
            <!--    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>-->
        </div>
        <div class="form-group">
            <label for="country">Country</label>
            <!--/*@thymesVar id="country" type="java.lang.String"*/-->
            <input class="form-control" type="text" th:field="*{country}"
                   id="country" placeholder="country">
            <!--    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>-->
        </div>
        <div class="form-group">
            <label for="input_img">Image</label>
            <div>
                <img class="image-manufacturer"
                     th:src="${(manufacturer.getImage() != null && !#strings.isEmpty(manufacturer.getImage())) ? manufacturer.getImage() : 'https://i.ibb.co/nQKknXZ/image-not-found.jpg'}"
                     src="" alt="" id="output"
                >
            </div>
            <input type="file" id="input_img"
                   onchange="fileChange()" accept="image/*">
            <!--/*@thymesVar id="image" type="java.lang.String"*/-->
            <input type="hidden" id="image" th:field="*{image}">
            <!--        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>-->
        </div>
        <br>
        <input class="btn btn-sm btn-secondary" type="submit"
               value="Edit manufacturer">
    </form>

    <script th:src="@{/js/uploadImage.js}"></script>

</div>
</body>
</html>