<!DOCTYPE html>
<html lang="en">
<head th:include="navbar.html :: head">
    <title id="title">Edit manufacturer</title>
</head>
<body th:include="navbar.html :: body">
<div id="body">

    <!--/*@thymesVar id="manufacturer" type="com.struninproject.onlinestore.model.Manufacturer"*/-->
    <form th:method="PATCH"
          th:action="@{/manufacturer/{id}(id=${manufacturer.getId()})}"
          th:object="${manufacturer}">
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" th:field="*{name}" id="name"
                   placeholder="name">
            <!--    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>-->
        </div>
        <div class="form-group">
            <label for="country">Country</label>
            <!--/*@thymesVar id="country" type="java.lang.String"*/-->
            <input class="form-control" type="text" th:field="*{country}"
                   id="country" placeholder="country">
            <!--    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>-->
        </div>
        <div class="form-group">
            <label for="input_img">Image</label>
            <div>
                <img th:src="${(manufacturer.getImage() != null && !#strings.isEmpty(manufacturer.getImage())) ? manufacturer.getImage() : 'https://i.ibb.co/nQKknXZ/image-not-found.jpg'}"
                     src="" alt="" id="output"
                     style="width: 100px; height: 100%; object-fit: contain;">
            </div>
            <input type="file" id="input_img"
                   onchange="fileChange()" accept="image/*">
            <!--/*@thymesVar id="image" type="java.lang.String"*/-->
            <input type="hidden" id="image" th:field="*{image}">
            <!--        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>-->
        </div>
        <input class="btn btn-primary" type="submit" value="Edit manufacturer">
    </form>

    <script>
        function fileChange() {
            const file = document.getElementById('input_img');
            const form = new FormData();
            form.append("image", file.files[0])

            const settings = {
                "url": "https://api.imgbb.com/1/upload?key=cbe21926adeaa051d2d2546b5ed23225",
                "method": "POST",
                "timeout": 0,
                "processData": false,
                "mimeType": "multipart/form-data",
                "contentType": false,
                "data": form
            };

            $.ajax(settings).done(function (response) {
                const jx = JSON.parse(response);
                const image = document.getElementById('image');
                image.setAttribute('value', jx.data.url)
                const output = document.getElementById('output');
                output.setAttribute('height', '100');
                output.setAttribute('width', 'auto');
                output.src = jx.data.url;
            });
        }
    </script>

</div>
</body>
</html>