<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet'
          href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
    <link rel='stylesheet'
          href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="/css/style.css">

    <!-- Demo CSS -->
    <link rel="stylesheet" href="/css/demo.css">

    <title>Add manufacturer</title>
    <script async src="https://imgbb.com/upload.js" data-palette="blue"
            data-auto-insert="html-embed-medium"></script>
</head>
<body>

<header th:insert="navbar_old.html :: header"></header>
<div class="container">
    <!--/*@thymesVar id="manufacturer" type="com.struninproject.onlinestore.model.Manufacturer"*/-->
    <form action="#" th:action="@{/manufacturer/new}"
          th:object="${manufacturer}"
          method="POST">

        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" th:field="*{name}" id="name"
                   placeholder="name">
            <!--    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>-->
        </div>
        <div class="form-group">
            <label for="country">Country</label>
            <input class="form-control" type="text" th:field="*{country}"
                   id="country" placeholder="country">
            <!--    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>-->
        </div>
        <div class="form-group">
            <label for="input_img">Image</label>
            <div>
                <img id="output"/>
            </div>
            <input type="file" id="input_img"
                   onchange="fileChange()" accept="image/*">
            <input type="hidden" id="image" th:field="*{image}">
            <!--        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>-->
        </div>
        <div class="text-right">
            <input class="btn btn-primary" type="submit"
                   value="Add manufacturer">
        </div>
    </form>
</div>

<!-- jQuery -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<!-- Bootstrap JS -->
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js'></script>

<script>
    function fileChange() {
        const file = document.getElementById('input_img');
        const form = new FormData();
        form.append("image", file.files[0])

        const settings = {
            "url": "https://api.imgbb.com/1/upload?key=cbe21926adeaa051d2d2546b5ed23225",
            "method": "POST",
            "timeout": 0,
            "processData": false,
            "mimeType": "multipart/form-data",
            "contentType": false,
            "data": form
        };

        $.ajax(settings).done(function (response) {
            const jx = JSON.parse(response);
            const image = document.getElementById('image');
            image.setAttribute('value', jx.data.url)
            const output = document.getElementById('output');
            output.setAttribute('height', '100');
            output.setAttribute('width', 'auto');
            output.src = jx.data.url;
        });
    };
</script>

</body>
</html>