<!DOCTYPE html>
<html lang="en">
<head th:include="navbar.html :: head">
    <title id="title">Edit user</title>
</head>
<body th:include="navbar.html :: body">
<div id="body">
    <div class="container align-content-center mt-5">
        <div class="row mb-4 d-flex justify-content-center">
            <div class="col-4">
                <!--/*@thymesVar id="data" type="com.struninproject.onlinestore.model.User"*/-->
                <form th:method="PATCH" th:action="@{/user/update}"
                      th:object="${data}">
                    <!--/*@thymesVar id="id" type="java.lang.String"*/-->
                    <label hidden for="id"></label>
                    <input hidden type="text" th:field="*{id}" id="id">
                    <div class="form-group">
                        <label for="firstName">First name</label>
                        <!--/*@thymesVar id="firstName" type="java.lang.String"*/-->
                        <input class="form-control" type="text"
                               th:field="*{firstName}"
                               id="firstName">
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last name</label>
                        <!--/*@thymesVar id="lastName" type="java.lang.String"*/-->
                        <input class="form-control" type="text"
                               th:field="*{lastName}"
                               id="lastName">
                    </div>
                    <div class="form-group">
                        <label for="age">Age</label>
                        <!--/*@thymesVar id="age" type="java.math.BigDecimal"*/-->
                        <input class="form-control" type="number"
                               th:field="*{age}" id="age">
                    </div>
                    <div class="form-group">
                        <label for="gender">Gender</label>
                        <!--/*@thymesVar id="gender" type="com.struninproject.onlinestore.model.enums.Gender"*/-->
                        <select class="form-control" th:field="*{gender}"
                                id="gender">
                            <option th:each="gender : ${T(com.struninproject.onlinestore.model.enums.Gender).values()}"
                                    th:value="${gender}"
                                    th:text="${gender.getValue()}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="role">Role</label>
                        <!--/*@thymesVar id="roles" type="java.util.Set"*/-->
                        <!--/*@thymesVar id="role" type="com.struninproject.onlinestore.model.enums.Role"*/-->
                        <select class="form-control" th:field="*{roles}"
                                id="role">
                            <option th:each="role : ${T(com.struninproject.onlinestore.model.enums.Role).values()}"
                                    th:value="${role}"
                                    th:text="${role.getValue()}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <!--/*@thymesVar id="email" type="java.lang.String"*/-->
                        <input class="form-control" type="email"
                               th:field="*{email}"
                               id="email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <!--/*@thymesVar id="password" type="java.lang.String"*/-->
                        <input class="form-control" type="text"
                               th:field="*{password}"
                               id="password">
                    </div>
                    <div class="d-grid justify-content-end mt-4">
                    <input type="submit" class="btn btn-sm btn-secondary"
                           value="Edit User">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>