<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet'
          href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
    <link rel='stylesheet'
          href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="/css/style.css">

    <!-- Demo CSS -->
    <link rel="stylesheet" href="/css/demo.css">

    <title>Manufacturers</title>
</head>
<body>

<header th:insert="navbar.html :: header"></header>

<button class="btn btn-primary" onclick="document.location='category/new'">Add category</button>

<table class="table table-striped table-dark w-auto">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Features</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="categories" type="java.lang.Iterable"*/-->
    <!--/*@thymesVar id="category" type="com.struninproject.onlinestore.model.Category"*/-->
    <tr th:each="category: ${categories}">
        <td th:text="${category.getId()}"></td>
        <td th:text="${category.getName()}"></td>
        <td>
            <ul>
                <li th:each="feature: ${category.getFeatures()}"
                    th:text="${feature}"></li>
            </ul>
        </td>
        <td>
            <form th:method="GET"
                  th:action="@{/category/{id}/edit(id=${category.getId()})}">
                <input type="submit" value="Edit"/>
            </form>
        </td>
        <td>
            <form th:method="DELETE"
                  th:action="@{/category/{id}(id=${category.getId()})}">
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<!-- jQuery -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<!-- Bootstrap JS -->
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js'></script>
</body>
</html>