<!DOCTYPE html>
<html lang="en">
<head th:include="navbar.html :: head">
    <title id="title">All manufacturers</title>
</head>
<body th:include="navbar.html :: body">
<div id="body">

    <!--/*@thymesVar id="category" type="com.struninproject.onlinestore.model.Category"*/-->
    <form th:method="PATCH"
          th:action="@{/category/{id}(id=${category.getId()})}"
          th:object="${category}">
        <label for="name">Name</label>
        <input type="text" th:field="*{name}" id="name" placeholder="name">
        <!--    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>-->
        <br>
        <div id="in">
            <label>Features</label>
            <ul>
                <li th:each="feature, iter : ${category.getFeatures}">
                    <input th:name="|features|" th:value="${feature}"/>
                </li>
            </ul>
        </div>
        <br>
        <input type="submit" class="btn btn-primary" value="Edit Category">
    </form>

    <script th:inline="javascript">
        myChangeFunction();

        function myChangeFunction() {
            const form = document.getElementById("in");
            const el = document.createElement('input');
            const br = document.createElement('br');
            el.setAttribute('placeholder', 'Add new feature');
            el.setAttribute('name', 'features');
            el.addEventListener('input',
                (e) => {
                    myChangeFunction(e.target)
                }, {once: true});
            form.append(el);
            form.append(br);
        }
    </script>

</div>
</body>
</html>