<!DOCTYPE html>
<html lang="en">
<head th:include="navbar.html :: head">
    <title id="title">Edit category</title>
</head>
<body th:include="navbar.html :: body">
<div id="body">
    <div class="container align-content-center mt-5">
        <div class="row mb-4 d-flex justify-content-center">
            <div class="col-5">
                <!--/*@thymesVar id="data" type="com.struninproject.onlinestore.model.entity.Category"*/-->
                <form th:method="PATCH"
                      th:action="@{/category/update}"
                      th:object="${data}">
                    <!--/*@thymesVar id="id" type="java.lang.String"*/-->
                    <label hidden for="id"></label>
                    <input hidden type="text" th:field="*{id}" id="id">
                    <label for="name">Name</label>
                    <input class="form-control mb-3"
                           type="text" th:field="*{name}" id="name">
                    <div id="in">
                        <label>Features</label>
                        <div>
                            <!--/*@thymesVar id="feature" type=""*/-->
                            <input class="form-control mt-1"
                                   th:each="feature : ${data.getFeatures}"
                                   th:name="|features|"
                                   th:value="${feature}">
                        </div>
                    </div>
                    <div class="d-grid justify-content-end mt-4">
                        <input type="submit" class="btn btn-sm btn-secondary"
                               value="Edit Category">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script th:src="@{/js/categoryFields.js}"></script>

</div>
</body>
</html>