<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet'
          href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
    <link rel='stylesheet'
          href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="/css/style.css">

    <!-- Demo CSS -->
    <link rel="stylesheet" href="/css/demo.css">

    <title>Add category</title>
</head>
<body>

<header th:insert="navbar_old.html :: header"></header>

<!--/*@thymesVar id="category" type="com.struninproject.onlinestore.model.Category"*/-->
<form action="#" th:action="@{/category/new}" th:object="${category}"
      method="POST">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="name">
    <!--    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>-->
    <br>
    <div id="in">
        <label>Features</label>
    </div>
    <input type="submit" class="btn btn-primary" value="Add Category">
    <br>
</form>

<script>
    myChangeFunction();

    function myChangeFunction() {
        const form = document.getElementById("in");
        const el = document.createElement('input');
        const br = document.createElement('br');
        el.setAttribute('placeholder', 'Add new feature');
        el.setAttribute('name', 'features');
        el.addEventListener('input',
            (e) => {
                myChangeFunction(e.target)
            }, {once: true});
        form.append(el);
        form.append(br);
    }
</script>

<!-- jQuery -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<!-- Bootstrap JS -->
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js'></script>

</body>
</html>