<!DOCTYPE html>
<html lang="en">
<head th:include="navbar.html :: head">
    <title id="title">Add category</title>
</head>
<body th:include="navbar.html :: body">
<div id="body">
    <div class="container align-content-center mt-5">
        <div class="row mb-4 d-flex justify-content-center">
            <div class="col-5">
                <!--/*@thymesVar id="category" type="com.struninproject.onlinestore.model.Category"*/-->
                <form action="#" th:action="@{/category/new}"
                      th:object="${category}"
                      method="POST">
                    <label for="name">Name</label>
                    <input class="form-control mb-3"
                           type="text" th:field="*{name}" id="name">
                    <div id="in">
                        <label>Features</label>
                    </div>
                    <div class="d-grid justify-content-end mt-4">
                    <input type="submit" class="btn btn-sm btn-secondary"
                           value="Add Category">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script th:src="@{/js/categoryFields.js}"></script>

</div>
</body>
</html>