<!DOCTYPE html>
<html lang="en">
<head th:include="navbar.html :: head">
    <!--/*@thymesVar id="status" type="java.lang.String"*/-->
    <title id="title">Error page</title>
</head>
<body th:include="navbar.html :: body">
<div id="body">

<link rel="stylesheet" th:href="@{/css/error.css}"
      href="../static/css/error.css">
<section class="page_404">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-auto col-sm-offset-1  text-center">
                    <div class="four_zero_four_bg">
                        <!--/*@thymesVar id="status" type="java.lang.String"*/-->
                        <h1 th:text="${status}" class="text-center "></h1>
                    </div>
                    <div class="contant_box_404">
                        <!--/*@thymesVar id="error" type="java.lang.String"*/-->
                        <h3 th:text="${error}" class="h2"></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
</body>
</html>