<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Find group by name</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/css/table.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="parent">
<form action="/">
    <button class="t">
        <table>
            <thead>
            <tr>
                <th>Group</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="party,iter : ${data}">
                <td th:text="${party.getName()}"></td>
            </tr>
            </tbody>
        </table>
        <p>Press to return</p>
    </button>
</form>
</div>
</body>
</html>
