<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Get number of students in each group</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/css/table.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="parent">
    <form action="/">
        <button class="t">
            <table>
                <thead>
                <tr>
                    <th>Group</th>
                    <th>Count of students</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="map,iter : ${data}">
                    <td th:text="${map.get('party').getName()}"></td>
                    <td th:text="${map.get('count')}"></td>
                </tr>
                </tbody>
            </table>
            <p>Press to return</p>
        </button>
    </form>
</div>
</body>
</html>
