<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="navbar.html :: head">
    <title id="title">User registration</title>
</head>
<body th:include="navbar.html :: body">
<div id="body">

    <div class="container">
        <div class="row">
    <h1>User login page</h1>
        </div>
    </div>

    <button type="button" class="btn btn-primary position-relative">
        Inbox
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
    99+
    <span class="visually-hidden">unread messages</span>
  </span>
    </button>



    <script sec:authorize="isAuthenticated()">
        const loginMod = document.getElementById('loginMod');
        let sleep = ms => new Promise(res=>setTimeout(res,ms));

        async function fx(){
            await sleep(500);
            loginMod.click()
        }
        fx();
    </script>


</div>

</body>
</html>