<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
          rel="stylesheet">

    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
          integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
          crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../static/css/main.css">


    <link rel='stylesheet'
          href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>

    <link rel="stylesheet" th:href="@{/css/style.css}"
          href="../static/css/style.css">

    <!-- Demo CSS -->
    <link rel="stylesheet" th:href="@{/css/demo.css}"
          href="../static/css/demo.css">

    <title th:include=":: #title">Navbar</title>

    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
</head>

<body th:fragment="body">

<nav class="container navbar fixed-top navbar-expand-lg navbar-light navbar-custom">
    <div class="container-fluid">
        <a class="navbar-brand zoom" th:href="@{/}" href="/">ON-Store</a>
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 top-menu">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/product/products}">Store</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/order/all}">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/all}">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       th:href="@{/category/all}">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       th:href="@{/manufacturer/all}">Manufacturers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/product/all}">Products</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item me-2">
                    <a class="nav-link" href="#" data-bs-toggle="modal"
                       sec:authorize="isAuthenticated()"
                       data-bs-target="#modal-cart">
                        <i class="fas fa-shopping-cart zoom"></i>
                        <span class='position-absolute badge badge-warning'
                              id='lblCartCount'></span>
                    </a>
                    <a class="nav-link" href="#" data-bs-toggle="modal"
                       sec:authorize="!isAuthenticated()"
                       data-bs-target="#exampleModal">
                        <i class="fas fa-shopping-cart zoom"></i>
                    </a>
                </li>
                <li class="nav-item zoom">
                    <a class="nav-link" href="#"><i
                            class="fas fa-search"></i></a>
                </li>
                <li class="nav-item ms-1 me-1 mt-2">
                    <span class="nav-fill m-auto" th:inline="text">
                        [[${#httpServletRequest.remoteUser}]]</span>
                </li>
                <li sec:authorize="!isAuthenticated()">
                    <a id="loginMod" class="nav-link zoom" href="#"
                       data-bs-toggle="modal"
                       data-bs-target="#exampleModal">
                        <i class="far fa-user"></i>
                    </a>
                </li>
                <li sec:authorize="isAuthenticated()"
                    class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       data-bs-toggle="dropdown" href="#"><i
                            class="far fa-user"></i></a>
                    <ul class="dropdown-menu"
                        aria-labelledby="navbarDropdown">
                        <li>
                            <form th:action="@{/logout}" id="logout-form"
                                  method="POST">
                                <input type="submit" class="dropdown-item"
                                       value="Sign Out"/>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="modal fade" id="modal-cart" tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div id="cart-dp" class="modal-content">
            <div class="modal-header bg-secondary text-white">
                <h5 class="modal-title"
                    id="exampleModalLabel">Cart</h5>
            </div>
            <div id="cart" class="modal-body">
            </div>
            <div class="modal-footer">
                <button onclick="buyCart()" type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">Buy
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div sec:authorize="!isAuthenticated()" class="modal fade" id="exampleModal"
     tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div id="login-dp" class="modal-content">
            <div class="modal-body">
                <!-- Pills navs -->
                <!-- Pills navs -->
                <ul hidden class="nav nav-pills nav-justified mb-3" id="ex1"
                    role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="tab-login"
                           data-bs-toggle="pill" href="#pills-login" role="tab"
                           aria-controls="pills-login" aria-selected="true">Login</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="tab-register"
                           data-bs-toggle="pill" href="#pills-register"
                           role="tab"
                           aria-controls="pills-register" aria-selected="false">Register</a>
                    </li>
                </ul>
                <!-- Pills navs -->

                <!-- Pills content -->
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="pills-login"
                         role="tabpanel" aria-labelledby="tab-login">
                        <form class="formLogin" role="form"
                              method="post"
                              th:action="@{/login}"
                              accept-charset="UTF-8"
                              id="login-nav">
                            <div class="text-center mb-3">
                                <p>Sign in with:</p>
                                <!--                                future-->
                                <!--                                <button type="button"-->
                                <!--                                        class="btn btn-link btn-floating mx-1">-->
                                <!--                                    <i class="fab fa-facebook-f"></i>-->
                                <!--                                </button>-->

                                <!--                                <button type="button"-->
                                <!--                                        class="btn btn-link btn-floating mx-1">-->
                                <!--                                    <i class="fab fa-google"></i>-->
                                <!--                                </button>-->

                                <!--                                <button type="button"-->
                                <!--                                        class="btn btn-link btn-floating mx-1">-->
                                <!--                                    <i class="fab fa-twitter"></i>-->
                                <!--                                </button>-->

                                <!--                                <button type="button"-->
                                <!--                                        class="btn btn-link btn-floating mx-1">-->
                                <!--                                    <i class="fab fa-github"></i>-->
                                <!--                                </button>-->
                            </div>

                            <!--                            <p class="text-center">or:</p>-->

                            <!-- Email input -->
                            <div class="form-outline mb-1">
                                <input type="email" id="loginName"
                                       name="username"
                                       th:class="${param.error}?'form-control is-invalid':'form-control'"
                                       aria-describedby="validationLogin"
                                       required>
                                <label class="form-label"
                                       for="loginName">Email</label>
                            </div>

                            <!-- Password input -->
                            <div class="form-outline mb-1">
                                <input type="password" id="loginPassword"
                                       name="password"
                                       th:class="${param.error}?'form-control is-invalid':'form-control'"
                                       aria-describedby="validationLogin"
                                       required>
                                <label class="form-label" for="loginPassword">Password</label>
                                <div th:if="${param.error}" id="validationLogin"
                                     class="d-flex invalid-feedback justify-content-center">
                                    <h5>Invalid username or password</h5>
                                </div>
                            </div>


                            <!-- 2 column grid layout -->
                            <div class="row mb-3">
                                <div class="col-md-6 d-flex justify-content-center">
                                    <!-- Checkbox -->
                                    <div class="form-check mb-1 mb-md-0">
                                        <input class="form-check-input"
                                               type="checkbox"
                                               name="remember-me"
                                               id="loginCheck" checked/>
                                        <label class="form-check-label"
                                               for="loginCheck"> Remember
                                            me </label>
                                    </div>
                                </div>


                                <div class="col-md-6 d-flex justify-content-center">
                                    <!-- Simple link -->
                                    <a href="#">Forgot password?</a>
                                </div>
                            </div>

                            <!-- Submit button -->
                            <button type="submit"
                                    class="btn btn-primary btn-block mb-1">Sign
                                in
                            </button>

                            <!-- Register buttons -->
                            <div class="text-center">
                                <p>Not a member?
                                    <a href="#"
                                       onclick="document.getElementById('tab-register')
                                        .click()">Register</a></p>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="pills-register"
                         role="tabpanel" aria-labelledby="tab-register">
                        <!--/*@thymesVar id="user" type="com.struninproject.onlinestore.model.User"*/-->
                        <form class="needs-validation" action="#"
                              th:action="@{/user/registration}"
                              th:object="${user}" method="POST"
                              oninput='passwordRepeat.setCustomValidity(password.value !== passwordRepeat.value ? "Passwords do not match." : "")'>

                            <div class="text-center mb-1">
                                <p>Sign up with:</p>
                                <!--                                future-->
                                <!--                                <button type="button"-->
                                <!--                                        class="btn btn-link btn-floating mx-1">-->
                                <!--                                    <i class="fab fa-facebook-f"></i>-->
                                <!--                                </button>-->

                                <!--                                <button type="button"-->
                                <!--                                        class="btn btn-link btn-floating mx-1">-->
                                <!--                                    <i class="fab fa-google"></i>-->
                                <!--                                </button>-->

                                <!--                                <button type="button"-->
                                <!--                                        class="btn btn-link btn-floating mx-1">-->
                                <!--                                    <i class="fab fa-twitter"></i>-->
                                <!--                                </button>-->

                                <!--                                <button type="button"-->
                                <!--                                        class="btn btn-link btn-floating mx-1">-->
                                <!--                                    <i class="fab fa-github"></i>-->
                                <!--                                </button>-->
                            </div>

                            <!--                            <p class="text-center">or:</p>-->

                            <div class="form-outline mb-1">


                                <!--/*@thymesVar id="firstName" type="java.lang.String"*/-->
                                <input th:class="${#fields.hasErrors('firstName')}?'form-control is-invalid':'form-control'"
                                       type="text"
                                       th:field="*{firstName}"
                                       id="firstName" required>
                                <div th:if="${#fields.hasErrors('firstName')}"
                                     class="invalid-feedback">
                                    <span th:errors="*{firstName}"></span>
                                </div>
                                <label for="firstName">First name</label>


                            </div>
                            <div class="form-outline mb-1">
                                <!--/*@thymesVar id="lastName" type="java.lang.String"*/-->
                                <input th:class="${#fields.hasErrors('lastName')}?'form-control is-invalid':'form-control'"
                                       type="text"
                                       th:field="*{lastName}"
                                       id="lastName" required>
                                <div th:if="${#fields.hasErrors('lastName')}"
                                     class="invalid-feedback">
                                    <span th:errors="*{lastName}"></span>
                                </div>
                                <label for="lastName">Last name</label>
                            </div>
                            <div class="form-outline mb-1">
                                <!--/*@thymesVar id="age" type="java.math.BigDecimal"*/-->
                                <input th:class="${#fields.hasErrors('age')}?'form-control is-invalid':'form-control'"
                                       type="number"
                                       th:field="*{age}" id="age" required>
                                <div th:if="${#fields.hasErrors('age')}"
                                     class="invalid-feedback">
                                    <span th:errors="*{age}"></span>
                                </div>
                                <label for="age">Age</label>
                            </div>
                            <div class="form-outline mb-1">
                                <!--/*@thymesVar id="gender" type="com.struninproject.onlinestore.model.enums.Gender"*/-->
                                <select th:class="${#fields.hasErrors('gender')}?'form-control is-invalid':'form-control'"
                                        th:field="*{gender}" id="gender"
                                        required>
                                    <option value=""></option>
                                    <option th:each="gender : ${T(com.struninproject.onlinestore.model.enums.Gender).values()}"
                                            th:value="${gender}"
                                            th:text="${gender.getValue()}"></option>
                                </select>
                                <div th:if="${#fields.hasErrors('gender')}"
                                     class="invalid-feedback">
                                    <span th:errors="*{gender}"></span>
                                </div>
                                <label for="gender">Gender</label>
                            </div>
                            <div class="form-outline mb-1">
                                <!--/*@thymesVar id="email" type="java.lang.String"*/-->
                                <input th:class="${#fields.hasErrors('email')
                                                    || #fields.hasErrors('global')}
                                                    ?'form-control is-invalid':'form-control'"
                                       type="email"
                                       th:field="*{email}"
                                       id="email" required>
                                <div th:if="${#fields.hasErrors('email')
                                                || #fields.hasErrors('global')}"
                                     class="invalid-feedback">
                                    <span th:errors="*{email}"></span>
                                    <span th:each="err : ${#fields.errors('global')}" th:text="${err}"></span>
                                </div>
                                <label for="email">Email</label>
                            </div>
                            <div class="form-outline mb-1">
                                <!--/*@thymesVar id="password" type="java.lang.String"*/-->
                                <input th:class="${#fields.hasErrors('password')}?'form-control is-invalid':'form-control'"
                                       type="password"
                                       id="validationPassword" minlength="8"
                                       th:field="*{password}"
                                       name="password" placeholder="Password"
                                       value="" required>
                                <div th:if="${#fields.hasErrors('password')}"
                                     class="invalid-feedback">
                                    <span th:errors="*{password}"></span>
                                </div>
                                <label for="validationPassword">Password</label>
                                <div class="progress">
                                    <div id="progressbar"
                                         class="progress-bar progress-bar-striped progress-bar-animated"
                                         role="progressbar"
                                         aria-valuenow="50" aria-valuemin="0"
                                         aria-valuemax="100">
                                    </div>
                                </div>
                                <small id="passwordHelpBlock"
                                       class="form-text text-muted">
                                    Your password must be 8-20 characters long,
                                    must contain special characters "!@#$%&*_?",
                                    numbers, lower and upper letters only.
                                </small>

                                <div id="feedbackin" class="valid-feedback">
                                    Strong Password!
                                </div>
                                <div id="feedbackirn" class="invalid-feedback">
                                    Atlead 8 characters,
                                    Number, special character
                                    Caplital Letter and Small letters
                                </div>
                            </div>


                            <div class="form-outline mb-2">
                                <input class="form-control"
                                       type="password"
                                       name="passwordRepeat"
                                       id="passwordRepeat" required>
                                <label for="passwordRepeat">Repeat
                                    password</label>

                                <div class="form-check d-flex justify-content-center mb-3">
                                    <input class="form-check-input me-2"
                                           type="checkbox" value=""
                                           id="registerCheck" checked
                                           aria-describedby="registerCheckHelpText"
                                           required>
                                    <label class="form-check-label"
                                           for="registerCheck">
                                        I have read and agree to the terms
                                    </label>
                                </div>
                                <input type="submit"
                                       class="btn btn-primary mb2"
                                       value="Sign up">
                                <div class="text-center">
                                    <p>Have account?
                                        <a href="#"
                                           onclick="document.getElementById('tab-login')
                                        .click()">Sign in</a></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="main-content">


    <div class="mt-2" th:include=":: #body"></div>


</section>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

<script sec:authorize="!isAuthenticated()" th:src='@{/js/login.js}'></script>

<script sec:authorize="isAuthenticated()" th:src='@{/js/cart.js}'></script>

<script th:src='@{/js/passwordValidator.js}'></script>

</body>
</html>